$primary: orange;
$primary-light: rgb(255, 255, 255);

$secondary: rgb(136, 6, 136);

p {
    color: auto;
}

nav .pagination {
    font-size: 2rem;
    display: block;
    margin: auto;
    width: 200px;
    color: $primary;
}
